$primaryFont: Arial, sans-serif;

$whiteColor:#ffffff;
$bgColor: #e5eaee;
$secodaryBgColor: #ffeddc;
$actionColor: #c4132f;
$blackColor: #000000;
$paraColor: #727272;

$thinFontWeight: 300;
$regulartWeight: 400;
$boldFontWeight: 600;
$smallFontSize: .85rem;
$normalFontSize: 1rem;
$paraFontSize:1.25rem;
$mediumFontSize: 1.5rem;
$mediumFontSize2: 2.25rem;
$largeFontSize: 3rem;
$extraLargeFontSize:4.5rem;


$maxWidth:1400px;