@keyframes loadFromBottom {
  0% {
    transform: translateY(5rem);
    -webkit-transform: translateY(5rem);
    -moz-transform: translateY(5rem);
    -ms-transform: translateY(5rem);
    -o-transform: translateY(5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.full-width {
  width: 100%;
}

.dark-bg {
  background-color: #000000;
}

.hide {
  display: none;
}
